* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/background.jpg) 100% 105% no-repeat;
}

.w3-black {
  display: inline-block;
  margin-top: 70px;
  margin-left: 150px;
  width: 980px;
}

#verse {
  display: block;
}

h1 img {
  text-decoration: none;
  right: auto;
  left: 50%;
  margin-left: 350px;
  margin-top: 150px;
  width: 600px;
}

h2 img {
  text-decoration: none;
  right: auto;
  left: 50%;
  margin-left: 100px;
  margin-top: 10px;
  width: 1200px;
  background: none;
  background-size: auto;
  background-size: 1440px 1315px;
}

h3 p {
  color: whitesmoke;
  margin-top: 50px;
  margin-left: 450px;
  font: 20px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-decoration: none;
}

h3 p .fa-play-circle-o {
  color: whitesmoke;
  font-size: 36px;
}
